<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%if params[:respuesta].upcase == params[:respuesta]%>
    <%= "Ahhh si, manzanas!" %>
    <% else %>
    <%= "Habla más duro mijito" %>
    <% end %>
  </body>
</html>
